/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */
@import url(http://fonts.googleapis.com/css?family=Lobster); 
 
span.inline{
	float: left;
} 
 
#banner {
  padding: 10px;
  font: small-caps 40px/40px "Lobster", serif;
  text-align: left;
  a{
	  text-decoration: none;
	  color: black;
  }
  img {
    float: left;
  }
  
}

#notice {
  color: #000 !important;
  border: 1px solid rgba(255,255,255,0.1);
  padding: 10px;
  font: bold smaller sans-serif;
  position: absolute;
  text-align: center;
  background: rgba(255,242,0,0.3);
  margin-top: -20px;
}

#columns {

  #main {
    margin-right: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: right;
    padding: 1em 2em;
    width: 13em;

    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: black;
          font-size: small;
        }
      }
    }
  }
}
/* END_HIGHLIGHT */
